p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: chocolate;
    color: whitesmoke;
    text-align: center;
}


.bg{
    background-color: teal;
    color: wheat;
    text-align: center;
}


.bg-1{
    background-color: royalblue;
    text-align: center;
}